@model JKBB_CVGS.Models.ViewModels.UserViewModel
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_LoginHomeLayout.cshtml";
}

<h2>SignUp</h2>
<div class="row">
    <div class="col-md-7">
        @using (Html.BeginForm("SignUp", "Home", FormMethod.Post, new { }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Sign up</h4>
                @ViewBag.Error
                <hr />
                @if (Request.Form.AllKeys.Contains("signUpForm"))
                {
                    @Html.ValidationSummary(true, "Sign Up failed", new { @class = "text-danger" })
                }
                <div class="form-group">
                    @Html.LabelFor(model => model.User.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.User.Email, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.User.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.User.Password, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.User.Role, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.User.Role, new SelectList(
                            new List<Object> { new { value = "Employee", text = "Employee" },
                                                new {value = "Member", text = "Member" }}, "value", "text", 1))
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.User.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.User.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.User.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.User.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input name="signUpForm" type="submit" value="Sign Up" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>