@model IEnumerable<JKBB_CVGS.Models.Event>

@{
    ViewBag.Title = "Events";
    if (!ViewBag.IsEmployee)
    {
        Layout = "~/Views/Shared/_MemberLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>Events</h2>
<p>
    @if (ViewBag.IsEmployee)
    {
        @Html.ActionLink("Add", "Create")
    }   
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.EventID }) 
            @if (ViewBag.IsEmployee)
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.EventID })
                @Html.ActionLink(" Delete", "Delete", new { id = item.EventID }, new { onclick = "return confirm('Are you sure you wish to delete this event?');" })
            }
            
        </td>
    </tr>
}

</table>
