@model IEnumerable<JKBB_CVGS.Models.Game>

@{
    ViewBag.Title = "Games";
    if (false)
    {
        Layout = "~/Views/Shared/_MemberLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>Games</h2>

<p>
    @if (ViewBag.IsEmployee)
    {
        @Html.ActionLink("Add", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Developer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleasedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Developer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleasedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BasePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.GameID })
            @if (true)
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.GameID })
                @Html.ActionLink(" Delete", "Delete", new { id = item.GameID }, new { onclick = "return confirm('Are you sure you wish to delete this game?');" })
            }
        </td>
    </tr>
}

</table>
