@model IEnumerable<JKBB_CVGS.Models.Cart>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Game.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game.ReleasedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game.BasePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Game.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Game.ReleasedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Game.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Game.BasePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Cart", new { id=item.CartID }) |
            @Html.ActionLink("Remove", "Delete", "Cart", new { id=item.CartID })
        </td>
    </tr>
}

</table>

@Html.ActionLink("Buy", "Edit", "Cart", new { }) |
